<div id="main" class="container">
    <div class="row">
        <div class="col-5">
            <a href="#" class="py-1">
                <img src="{{ application.photo }}" alt="" width="100" height="95">
            </a>
        </div>
        <div class="col-5">

        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <strong>Full name :</strong><span>{{ application.fullName }}</span>
        </div>
        <div class="col-3">
            <strong>Sex :</strong><span>{{ application.gender }}</span>
        </div>
        <div class="col-3">
            <strong>Date of birth :</strong><span>{{ application.date_of_birth }}</span>
        </div>
        <div class="col-3">
            <strong>Place of birth :</strong><span>{{ application.place_of_birth }}</span>
        </div>
        <div class="col-3">
            <strong>Nationality :</strong><span>{{ application.current_nationality }}</span>
        </div>
        <div class="col-3">
            <strong>Visa type :</strong><span>{{ application.visa_type }}</span>
        </div>
    </div>
</div>